<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qing.Dao.OrderMapper">



    <!--添加-->
    <insert id="addOrder" parameterType="Order">
        insert into xin_02.order(orderID, payAccount, collectionPayAccount, orderHeadName, orderHeadID, orderHeadTel, orderState,orderSite, orderTime) values (#{orderID},#{payAccount},#{collectionPayAccount},#{orderHeadName},#{orderHeadID},#{orderHeadTel},#{orderState},#{orderSite},#{orderTime})
    </insert>

    <!--查询所有订单-->
    <select id="queryAllOrder" resultType="Order">
        select  * from  xin_02.`order`
    </select>
    <!--查询所有订单通过订单ID-->
    <select id="queryOrderById" resultType="Order">
        select  * from  xin_02.order where orderID=#{orderID}
    </select>
    <!--查询所有订单通过负责人ID-->
    <select id="queryOrderByHeadID" resultType="Order">
        select  * from  xin_02.order  where orderHeadID=#{orderHeadID}
    </select>
    <!--查询所有订单通过收款账户-->
    <select id="queryOrderByCollectionPayAccount" resultType="Order">
        select  * from  xin_02.order  where collectionPayAccount=#{collectionPayAccount}
    </select>

    <!--更改-->
   <update id="updateOrder" parameterType="Order">
       update xin_02.order set payAccount=#{payAccount},collectionPayAccount=#{collectionPayAccount},orderHeadName=#{orderHeadName}, orderHeadID=#{orderHeadID},orderHeadTel=#{orderHeadTel},orderState=#{orderState},orderSite=#{orderSite},orderTime=#{orderTime} where orderID=#{orderID}
   </update>
   <!--删除-->
    <delete id="deleteOrderById" parameterType="int" >
        delete from xin_02.`order` where orderID=#{orderID}
    </delete>










</mapper>
        <!--
                 一对多

                 <select id="getstudent" resultMap="StudentTeacher">
                    select  * from student
                 </select>
                 <resultMap id="studentTeacher" type="Student">
                   <result property="id" column="id" />
                   <result property="name" column="name"/>
                复杂的属性，我们需要单独处理对象: association集合: collection
               <association property="teacher" column="tid" javaType="Teacher" select="getTeacher" />
             </resultMap>
             <select id="getTeacher" resultType="Teacher">
                 select* from teacher where id = #{tid}
             </select>
            -->



        <!--
                     按照结果嵌套处理
<select id="getStudent2" resultMap="StudentTeacher2">
select s.id sid,s.name sname,t.name tname
from student s,teacher t
where s.tid = t.id;
< / select>
<resultMap id="StudentTeacher2" type="Student">
    <result property="id" column="sid" />
    <result property="name" tolumn=" sname" / >
    <association property="teacher" javaType="Teacher">
        <result property="name" column="tname" / >
        < / association>
    </resu1tMap>

    -->