<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro" xmlns:c="http://www.springframework.org/schema/p">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>





<nav class="alert alert-danger">
    <ul class="nav nav-pills">
        <li role="presentation" ><a href="/home">Home</a></li>
        <li shiro:guest role="presentation" ><a th:href="@{/toLogin}">请登录</a></li>
        <li role="presentation">
            <a th:href="@{/logout}">注销</a></li>


        <li shiro:hasPermission="root" role="presentation"><a href="/allOrder">查询全部订单</a></li>



          <form shiro:hasPermission="root" role="presentation" class="form-inline" action="/queryOrderByCollectionPayAccount"  style="float: right">
            <input type="text" name="collectionPayAccount" class="form-control" placeholder="请输入收款账户">
            <input type="submit" value="收款账户查询" class="btn bt">
          </form>


            <form shiro:hasPermission="root" role="presentation" class="form-inline" action="/queryOrderByHeadID"  style="float: right">
                <input type="text" name="orderHeadID" class="form-control" placeholder="请输入负责人学号">
                <input type="submit" value="负责人学号查询" class="btn bt">
            </form>


    </ul>
</nav>

<div class="container" >
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>欢迎[[${session.loginUser}]]用户！！！以下是订单信息</small>


                </h1>

            </div></div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>负责人姓名</th><th>学号</th><th>联系方式</th><th>订单状态</th><th>预定地点</th><th>预定时间段</th></tr>
                </thead>

                <tbody>

                <tr th:each="order:${orderList}">
                    <td th:text="${order.orderHeadName}"></td>

                    <td  th:text="${order.orderHeadID}"></td>
                    <td th:text="${order.orderHeadTel}"></td>
                    <td th:text="${order.orderState}"></td>
                    <td th:text="${order.orderSite}"></td>
                    <td th:text="${order.orderTime}"></td>
                    <td>
                        <form action="/deleteOrderById">
                            <input type="hidden" th:value="${session.loginUser}" name="userName">
                            <input type="hidden" th:value="${order.orderID}" name="orderID">
                            <input type="hidden" th:value="${order.orderHeadID}" name="orderHeadID">
                            <input type="submit" value="删除">
                        </form>
                    </td>
                    <td><form action="/toPayMyOrder">
                        <input type="hidden" th:value="${session.loginUser}" name="userName">
                        <input type="hidden" th:value="${order.orderID}" name="orderID">
                        <input type="hidden" th:value="${order.orderHeadID}" name="orderHeadID">
                        <input type="submit" value="支付">
                    </form></td>



                </tr>


                </tbody>
            </table></div>
    </div>
</div>






</body>
</html>